# Prod
VITE_API_URL=https://backend.thecockpit.in/cockpit
VITE_CASHFREE_MODE=production
VITE_GOOGLE_CLIENT_ID=352852639472-vf52eadnfk7ke069obfvl9t0e7oeu95m.apps.googleusercontent.com

# Dev
# VITE_API_URL= http://13.235.91.167:8000/cockpit
# VITE_CASHFREE_MODE=sandbox
# VITE_GOOGLE_CLIENT_ID=352852639472-vf52eadnfk7ke069obfvl9t0e7oeu95m.apps.googleusercontent.com